menu "MAC LOGGER CONFIG"
    config MAC_LOGGER_MAX_STAS
        int "Maximum number of STA in the MAC logger list"
        range 1 1024
        default 256
    
    config MAC_LOGGER_MAX_APS
        int "Maximum number of AP in the MAC logger list"
        range 1 128
        default 32

    config MAC_LOGGER_WAIT_MS
        int "Time to wait in MS for lock"
        default 1

endmenu