menu "MAC LOGGER CONFIG"
    config MAC_LOGGER_MAX_STAS
        int "Maximum number of STA in the MAC logger list"
        range 1 32
        default 16
    
    config MAC_LOGGER_MAX_APS
        int "Maximum number of AP in the MAC logger list"
        range 1 16
        default 8

    config MAC_LOGGER_WAIT_MS
        int "Time to wait in MS for lock"
        default 10

endmenu